@using System.Linq;
@using System.Collections.Specialized;
@using HandIn2_FoodProcessor.Models;

@model List<Posts>

@{
    ViewBag.Title = "Happy little place";
}

@section scripts{ 
    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/Angular/proteinneed-controller.js")}

<h2>@ViewBag.Title.</h2>

<div ng-app="proteinNeed">
    <div class="col-sm-6" ng-controller="pNeedController">
        <table>
            <tr>
                <td>Product</td>
                <td>Grams consumed</td>
                <td>Total amount of proteins</td>
            </tr>
            @if (Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Consumable.ConsumableName</td>
                        <td>@item.GramProtein</td>
                        <td>@(item.GramProtein * item.Consumable.ProteinPer100Gram)</td>
                    </tr>
                }
            }
            else
            {
                <tr>no items in list :D</tr>
            }
            <tr>
                <td>
                    <input type="text" ng-model="product.picked" />
                    
                </td>
                <td>
                    <input type="number" min="0" max="99" ng-model="consumed" />
                </td>
                <td>
                    {{pEaten()}}
                </td>
            </tr>
            <tr></tr>
            {{showProduct()}}
        </table>

    </div>
    <div class="col-sm-6" ng-controller="pNeedController">

            <input type="number" ng-model="weight" min="0" max="99" required />

            <select ng-model="address.state"
                    ng-options="state.lookupCode as state.description for state in lov_state"></select>
            <tt>{{ass}}</tt>
    </div>
</div>
