@model IEnumerable<Hand_in1_grp7.Models.Component>

@{
    ViewBag.Title = "Components overview";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ComponentInfo.ComponentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComponentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserComment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ComponentInfo.ComponentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComponentNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdminComment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserComment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ComponentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ComponentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ComponentId })
        </td>
    </tr>
}

</table>
