@model Hand_in1_grp7.Models.ComponentInformation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ComponentInformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryInfo.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryInfo.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComponentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComponentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComponentInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComponentInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataSheet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataSheet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManufacturerLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufacturerLink)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InfoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
