@model HandIn2_FoodProcessor.Models.Consumables

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Consumables</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConsumableName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsumableName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProteinPer100Gram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProteinPer100Gram)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConsumableId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
